[Desktop Entry]
Version=1.0
Type=Link
Name=\sbatterychecker.sh 
Comment=
Icon=user-bookmarks
URL=https://github.com/NONAN23x/Android-automation/blob/main/batterychecker.sh
