[Desktop Entry]
Version=1.0
Type=Link
Name=\splugged.sh 
Comment=
Icon=user-bookmarks
URL=https://github.com/NONAN23x/Android-automation/blob/main/plugged.sh
